.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#gallery img {
	width: 450px;
	height: 300px;
	transition: all 1s;
}


#gallery img:hover {
	transform: scale(1.1);
}